<div class="scrollData">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> {{ toUpdate ? ( 'popup-form.header.update-order' | translate ): ( 'popup-form.header.create-order' | translate ) }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="submit()">
            <input type="hidden" 
            placeholder="id" 
            [ngModel]="fromParent.id"
            formControlName="id"/>

          <div class="mb-3">
              <label for="name">Name:</label>
              <input formControlName="name" id="name" type="text" class="form-control" [(ngModel)]="fromParent.name">
              <div *ngIf="!form.controls['name']?.valid && (form.controls['name']?.dirty ||form.controls['name']?.touched)"
                  class="alert alert-danger">
                  {{ 'popup-form.error-message.name' | translate }}
              </div>
          </div>

          <div class="mb-3">
              <label for="state">State:</label>
              <input formControlName="state" id="state" type="text" class="form-control" [(ngModel)]="fromParent.state">
              <div *ngIf="!form.controls['state']?.valid && (form.controls['state']?.dirty ||form.controls['state']?.touched)"
                  class="alert alert-danger">
                  {{ 'popup-form.error-message.state' | translate }}
              </div>
          </div>

          <div class="mb-3">
              <label for="zip">Zip Code:</label>
              <input formControlName="zip" id="zip" type="text" class="form-control" [(ngModel)]="fromParent.zip">
              <div *ngIf="!form.controls['zip']?.valid && (form.controls['zip']?.dirty ||form.controls['zip']?.touched)"
                  class="alert alert-danger">
                  {{ 'popup-form.error-message.zip-code' | translate }}
              </div>
          </div>

          <div class="mb-3">
              <label for="amount">Amount:</label>
              <input formControlName="amount" id="amount" type="text" class="form-control" [(ngModel)]="fromParent.amount">
              <div *ngIf="!form.controls['amount']?.valid && (form.controls['amount']?.dirty ||form.controls['amount']?.touched)"
                  class="alert alert-danger">
                  {{ 'popup-form.error-message.amount' | translate }}
              </div>
          </div>

          <div class="mb-3">
              <label for="quantity">Quantity:</label>
              <input formControlName="quantity" id="quantity" type="text" class="form-control" [(ngModel)]="fromParent.quantity">
              <div *ngIf="!form.controls['quantity']?.valid && (form.controls['quantity']?.dirty ||form.controls['quantity']?.touched)"
                  class="alert alert-danger">
                  {{ 'popup-form.error-message.quantity' | translate }}
              </div>
          </div>

          <div class="mb-3">
              <label for="item">Item Number:</label>
              <input formControlName="item" id="item" type="text" class="form-control" [(ngModel)]="fromParent.item">
              <div *ngIf="!form.controls['item']?.valid && (form.controls['item']?.dirty ||form.controls['item']?.touched)"
                  class="alert alert-danger">
                  {{ 'popup-form.error-message.item' | translate }}
              </div>
          </div>
          
          <div class="modal-footer">
              <button  class="btn btn-primary" data-dismiss="modal" (mousedown)="closeModal('Close modal')">Close</button>
              <button class="btn btn-primary" type="submit" [disabled]="!form.valid || !isFormEdited">{{ toUpdate ? 'Update': 'Submit' }}</button>
          </div>
      </form>
  </div>
</div>
