<div class="container-fluid" style="margin-top: 3rem">
<app-toast aria-live="polite" aria-atomic="true"></app-toast>

  <div class="row">
    <div class="col"></div>
    <div class="col d-flex justify-content-center">
     <h2> {{tableTitle}} </h2>
    </div>
    <div class="col d-flex justify-content-around">
        <button class="btn btn-outline-primary" (click)="openModal()">Add New</button>
    </div>
  </div>

  <br>


  <div class="d-flex justify-content-center">
    <ag-grid-angular
    #agGrid
    style="width: 87%;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [editType]="editType"
    [frameworkComponents]="frameworkComponents"
    [domLayout]="domLayout"
    [defaultColDef]="defaultColDef"
    [immutableColumns] = "true"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [context]="context"
    suppressClickEdit
    ></ag-grid-angular>
  </div>


</div>
